@charset "utf-8";
/* main portfolio style */

@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
	
}
body {
	font-family: 'Roboto', sans-serif;
}
/* HOME PAGE */
#overskrift {
	display: relative;
	text-align: center;
	align-items: center;
	min-width: 20px;
	/*	border: solid black;*/
	padding: 50px;
	margin: 50px;
	font-size: 70px;
}
#logo {
	height: 600px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: auto;
	margin-top: -180px;
	}
h2 {
	text-align: center;
	display: block;
	height: 200px;
	margin-top: -200px;
}
.sociallink {
	padding: 20px;
	word-spacing: 250px;
}
/*----------------------------------*/
/*overskrifterne inde i de forskellige sider*/
.tabtitles {
		display: relative;
	/*text-align: center;*/
	align-items: center;
	min-width: 20px;
	/*	border: solid black;*/
	padding: 50px;
	font-size: 70px;
	margin-top: 10px;
	margin-left: 270px;
}
/*text i previous p*/
.cvtext { 
	display: inline-block;
	margin-left: 350px;
	margin-top: -120px;
  align-content: left;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	
}
/*big picture on previous projects*/
#backstage {
	height: 500px;
	width: auto;
	float: right;
	border: solid black;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	bottom: 285px;
	right: 65px;
	
}
/*billeder på full gallery siden*/
.gallery-pics {
	display: inline-block;
		width: 600px;
	height: 400px;
	border: solid black;
	position: relative;
	margin-left: 10px;
	left: 20px;
	margin: 15px;
	align-content: center;
	margin-right: auto;
	
}
/*de mindre billeder i previous p*/
.pictures {
	display: inline-block;
		width: 300px;
	height: 200px;
	border: solid black;
	position: relative;
	margin-left: 10px;
	left: 20px;
	margin: 15px;
	}
/*billedet af lacour i previous p*/
#lacour {
		display: inline-block;
		width: 300px;
	height: 200px;
	border: solid black;
	position: relative;
	margin-left: 10px;
	left: 1050px;
	margin: 15px;
	bottom: 240px;
	 }
/*billedet af fimbul i previous p*/
#fimbul {
	display: inline-block;
		width: 300px;
	height: 200px;
	border: solid black;
	position: relative;
	margin-left: 10px;
	left: 1050px;
	margin: 15px;
	bottom: 240px;
}
/*linket til full gallery i previous p*/
#linkcv a {
	position: absolute;
	top: 925px;
	margin-left: 35px;
	color: black;
   text-decoration:none;

	/*mit lille logo i venstre neder hjørne*/
}
.smalllogo {
	height: 135px;
	width: auto;
position: relative;
	left: 1720px;
	bottom: 350px;
}

/*CV text i about me*/
.history { 
display: inline-block;
	margin-left: 50px;
	margin-top: -110px;
  align-content: left;
	padding: 20px;
	font-size: 20px;
	float: left;
	
}
/*billed i about me*/
.imgcontainer img {
		height: 450px;
	width: auto;
	position: relative;
	border: solid black;
	margin-left: 1185px;
	display: block;
	bottom: 145px;
	
}
/*text under billed i about me*/
	.atext {
	
	text-align: center;
	padding: 10px;
bottom: 80px;
		margin-right: 500px;
		display: inline-block;
		position: relative;	
		font-size: 20px;
}


/*.pixcontainer img:hover {
  width: 1000px;
height: 800px;}*/  
/*TOP MENU'EN*/
nav {/*påvirker hele vores nav content box, alt i containeren*/
	display: flex;
	height: 50px;
	align-items: center; /*får teksten til at hoppe i midten af boxen*/
	width: 100%;/* margin-top: 60px;*/
}
nav a { /*påvirker linksne*/
	width: 25%;
	background: black;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 20px;
	font-family: Roboto, sans-serif;
	
}
nav a:hover {
	background: #2A2929;
}
