@charset "utf-8";
/* main portfolio style */

@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-family: 'Roboto', sans-serif;
}
#overskrift {
	display: relative;
	text-align: center;
	align-items: center;
	min-width: 20px;
	/*	border: solid black;*/
	padding: 50px;
	margin: 50px;
	font-size: 70px;
}
#logo {
	height: 600px;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: auto;
	margin-top: -150px;
	}

.cvtext { 
	display: inline-block;
	margin-left: 350px;
	margin-top: -120px;
  align-content: left;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	
}

.tabtitles {
		display: relative;
	/*text-align: center;*/
	align-items: center;
	min-width: 20px;
	/*	border: solid black;*/
	padding: 50px;
	font-size: 70px;
	margin-top: 10px;
	margin-left: 270px;
}
.history { 
	display: inline-block;
	margin-left: 70px;
	margin-top: -110px;
  align-content: left;
	padding: 30px;
	font-size: 20px;
	border: solid black;
}
#backstage {
	height: 500px;
	width: auto;
	float: right;
	border: solid black;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -285px;
	right: 65px;
	
}
.gallery-pics {
	display: inline-block;
		width: 600px;
	height: 400px;
	border: solid black;
	position: relative;
	margin-left: 10px;
	left: 20px;
	margin: 15px;
	align-content: center;
	margin-right: auto;
	
}
.pictures {
	display: inline-block;
		width: 300px;
	height: 200px;
	border: solid black;
	position: relative;
	margin-left: 10px;
	left: 20px;
	margin: 15px;
	}
#lacour {
		display: inline-block;
		width: 300px;
	height: 200px;
	border: solid black;
	position: relative;
	margin-left: 10px;
	left: 1050px;
	margin: 15px;
	top: -240px;
	 }
#fimbul {
	display: inline-block;
		width: 300px;
	height: 200px;
	border: solid black;
	position: relative;
	margin-left: 10px;
	left: 1050px;
	margin: 15px;
	top: -240px;
}
#linkcv a {
	position: absolute;
	top: 925px;
	margin-left: 35px;
	color: black;
   text-decoration:none;
	
}
.smalllogo {
	height: 130px;
	width: auto;
position: relative;
	left: 1720px;
	bottom: 340px;
}
/*.pixcontainer img:hover {
  width: 1000px;
height: 800px;}*/  

nav {/*påvirker hele vores nav content box, alt i containeren*/
	display: flex;
	height: 50px;
	align-items: center; /*får teksten til at hoppe i midten af boxen*/
	width: 100%;/* margin-top: 60px;*/
}
nav a { /*påvirker linksne*/
	width: 25%;
	background: black;
	text-align: center;
	text-decoration: none;
	color: white;
	padding: 20px;
	font-family: Roboto, sans-serif;
	
}
nav a:hover {
	background: #2A2929;
}
